<section class="about-agency scroll-label">
    <div class="title_big-letter">
        <h1>W</h1>
        <h2>We Are An Awesome Agency</h2>
    </div>
    <div class="content-container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="about-agency__item-content">
                    <div class="about-agency__item-content_icon-background-circle">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <h3>Feature one</h3>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum
                        faucibus </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="about-agency__item-content">
                    <div class="about-agency__item-content_icon-background-circle">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <h3>Feature two</h3>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum
                        faucibus</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="about-agency__item-content">
                    <div class="about-agency__item-content_icon-background-circle">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <h3>Feature three</h3>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum
                        faucibus </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="about-agency__item-content">
                    <div class="about-agency__item-content_icon-background-circle">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </div>
                    <h3>Feature Four</h3>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum
                        faucibus </p>
                </div>
            </div>
        </div>
    </div>
</section>