<section class="blog-area scroll-label">

    <div class="title_big-letter">
        <h1>B</h1>
        <h2>Let's blog</h2>
    </div>

    <div class="content-container">
        <h3>We love clean design and advanced digital solutions.</h3>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="blog-area__item-content">
                    <div class="blog-area__item-content_title-image">
                        <img src="../assets/images/blog1.jpg">
                    </div>
                    <h4>Fresh Summer Campaign</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-area__item-content">
                    <div class="blog-area__item-content_title-image">
                        <img src="../assets/images/blog2.jpg">
                    </div>
                    <h4>Fresh Summer Campaign</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-area__item-content">
                    <div class="blog-area__item-content_title-image">
                        <img src="../assets/images/blog3.jpg">
                    </div>
                    <h4>Fresh Summer Campaign</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="blog-area__item-content">
                    <div class="blog-area__item-content_title-image">
                        <img src="../assets/images/blog4.jpg">
                    </div>
                    <h4>Fresh Summer Campaign</h4>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue</p>
                </div>
            </div>
        </div>
</section>