<section class="contact scroll-label">
    <div class="content-container">

        <div class="title_big-letter">
            <h1>c</h1>
            <h2>
                We’d love to hear about your project.
            </h2>
        </div>

        <form action="#!" class="row form-input">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <label for="name"></label>
                        <input placeholder="Name" id="name" type="text" class="form-input__control name">
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="email"></label>
                        <input placeholder="Email" id="email" type="text" class="form-input__control email">
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="phone"></label>
                        <input placeholder="Phone" id="phone" type="text" class="form-input__control phone">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label id="message"></label>
                <textarea placeholder="Message" class="form-input__control message" id="message"></textarea>
            </div>
            <div class="col-md-3 col-md-push-5">
                <button class="button-submit" type="submit">SUBMIT</button>
            </div>
        </form>
    </div>
</section>