<section class="key-feature scroll-label">
    <div class="content-container">
        <div class="row">
            <div class="col-md-5">
                <div class="key-feature__content">
                    <h3>Akita Inu Dog</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue
                        laoreet rutrum faucibus dolor auctor.</p>
                    <div class="key-feature__inscription first-inscription">Fully Responsive Design</div>
                    <div class="key-feature__inscription second-inscription">High Quality Code</div>
                    <div class="key-feature__inscription third-inscription">Different Headers & Layout</div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <img src="../assets/images/Rectangle.png">
            </div>
        </div>
    </div>
</section>