<section class="news-area scroll-label">
        <div class="row left-top">
            <div class="col-lg-6 col-md-12 left-top">
                <div class="news-area__text-block left-top">
                    <h6>Jan 4, 2016&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;In Culture</h6>
                    <h3>Akita Inu Dog</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>

                    <p>Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sed posuere  </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="news-area__image-block">
                    <img src="../assets/images/news1.jpg">
                </div>
            </div>
        </div>
        <div class="row right-bottom">
            <div class="col-lg-6 col-md-12">
                <div class="news-area__image-block">
                    <img src="../assets/images/news2.jpg">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 right-bottom">
                <div class="news-area__text-block right-bottom">
                    <h6>Jan 4, 2016&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;In Culture</h6>
                    <br>
                    <h3>Akita Inu Dog</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Sed posuere  </p>
                </div>
            </div>
        </div>
</section>
